.label{
	display: inline-block;
	margin-bottom: 5px;
}

.default {
	background-color: #777;
}

.red {
	background-color: #cc3333;
}

.green {
	background-color: #449944;
}

.blue {
	background-color: #5555aa;
}

.yellow {
	background-color: #E6B010;
}

.orange {
	background-color: #E66510;
}

.black {
	background-color: #333;
}

p {
	font-size: 12px;
}
p.deadline{
	margin-bottom: 0px;
}

div.panel.task{
	background-color: #fff;
	max-width: 380px;
}

.ui-state-hover{
	background: #eee;
	border-color: #aaa;
}

div.tasks{
	min-height: 150px;
}

.task-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}

h6{
	font-weight: bold;
}

button.small, .button.small {
	padding-top: 0.575rem;
	padding-right: 0.75rem;
	padding-bottom: 0.4375rem;
	padding-left: .7375rem;
	font-size: 0.5125rem;
}

button.extra-small, .button.extra-small {
	padding: 0.5rem;
	font-size: 0.4rem;
}

button.default, .button.default{
	background-color: #444;
}

button.default:hover, button.default:focus, .button.default:hover, .button.default:focus {
	background-color: #999;
}

button.disabled, .button.disabled{
	background-color: #aaa;
}

button.disabled:hover, button.disabled:focus, .button.disabled:hover, .button.disabled:focus {
	background-color: #ccc;
}

div p{
	margin-bottom: 0px;
}

div a.button{
	margin-bottom: 0px;
}

.panel .panel:last-child {
	margin-bottom: 0rem;
}

.fa{
	margin-right: 4px;
}

.selected{
	margin-left: 20px;
}

div.space{
	margin-bottom: 30px;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a.task-input{
	color: #444;
	margin-top: -100px;
}

.popover-title{
	font-weight: bold;
}

.editableform .form-control{
	min-width: 260px;
	width: 260px;
}

p#log {
	color: #777;
	margin: 0px;
}

div.log.panel{
	height: 50px;
}

.progress {
height: 1.0625rem;
}