.label{
	display: inline-block;
	margin-bottom: 5px;
}

.default {
	background-color: #777;
}

.red {
	background-color: #cc3333;
}

.green {
	background-color: #449944;
}

.blue {
	background-color: #5555aa;
}

.yellow {
	background-color: #E6B010;
}

.orange {
	background-color: #E66510;
}

.black {
	background-color: #333;
}

p {
	font-size: 12px;
}
p.deadline{
	margin-bottom: 0px;
}

div.panel.task{
	background-color: #fff;
	max-width: 240px;
}

.ui-state-hover{
	background: #eee;
	border-color: #aaa;
}

div.tasks{
	min-height: 300px;
}

h6{
	font-weight: bold;
}