<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /tara
  
  RewriteCond $1 !^(index\.php|img|robots\.txt|js|css|fonts|favicon\.ico|uploads)
  RewriteRule ^(.*)$ index.php/$1 [L]  
</IfModule>